package {{.Pkg.Name}}

import (
{{- range $impt := .Imports}}
  {{$impt.Name}} {{$impt.Path | Quote}}
{{end -}}
)

type Noop{{.Name}} struct {}

func (Noop) Init(ctx context.Context) error {
    return nil
}