package {{.Pkg.Name}}

import (
{{- range $impt := .Imports}}
  {{$impt.Name}} {{$impt.Path | Quote}}
{{end -}}
)

type Noop{{.Name}} struct {}

{{range $i, $method := .Methods}}
func (Noop) {{$method.Name}}(
  {{- range $param := $method.Params -}}
    {{if $i}},{{end}}{{$param.Name}} {{$param.Type}}
  {{- end -}}
  ) (
    {{- range $ret := $method.Results -}}
    {{if $i}},{{end}}{{$ret.Name}} {{$ret.Type}}
    {{- end -}}
  ) {
  return nil
}
{{end}}
